		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Data-Art Sport</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="/about">About</a>
						</li>
						<li>
							<a href="/clubs">Clubs</a>
						</li>
						<li>
							<a href="/competitions">Competitions</a>
						</li>
						<li>
							<a href="/facilities">Facilities</a>
						</li>
						@if(session().get("userType") == "Member" || session().get("userType") == "Trainer") {
						<li>
							<a href="/schedule">Schedule</a>
						</li>
						}
						<li>
							<a href="/trainers">Trainers</a>
						</li>
					</ul>
					@if(session().get("userType") != null) {
					<form class="navbar-form navbar-right" action = "/logout" method = "post">
						<button type="submit" class="btn btn-success">
							Sign out
						</button>
					</form>
					} else {
					<form class="navbar-form navbar-right" action = "/login" method = "post">
						<div class="form-group">
							<input type="text" placeholder="E-mail" name = "email" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" placeholder="Password" name = "passwd" class="form-control">
						</div>
						<button type="submit" class="btn btn-success">
							Sign in
						</button>
					</form>
					}
				</div>
			</div>
		</div>